<% if batsmen.present? && bowlers.present? && team.present?%>
	
	<div class="cl-min-inf">
		<div class="cl-min-hdr-rw">
			<div class="cl-txt-50">
				Batsman
			</div>
			<div class="cl-txt-10">
				R
			</div>
			<div class="cl-txt-10">
				B
			</div>
			<div class="cl-txt-8">
				4s
			</div>
			<div class="cl-txt-8">
				6s
			</div>
			<div class="cl-txt-14">
				SR
			</div>
		</div>

		<!-- batsmen loop -->
		
		<% batsmen.each do |batsman| %>

		<div class="cl-min-itm-rw">
			<div class="cl-txt-50">
				<% player_name = getPlayerName(team, batsman['old_player_id'] ) %>
				<%= link_to player_name , {:controller => "playerstat", :action => "show", :pid => batsman['pid']  }  %>
			</div>
			<div class="cl-btmn-data-10">
				<%= batsman['runs']%>
			</div>
			<div class="cl-btmn-data-10" >
				<%= batsman['balls_faced']%>
			</div>
			<div class="cl-btmn-data-8" >
				<%= batsman['fours']%>
			</div>
			<div class="cl-btmn-data-8" >
				<%= batsman['sixes']%>
			</div>
			<div class="cl-txt-14" >
				<%if batsman['balls_faced'].to_i != 0 %>
				<%= ((batsman['runs'].to_f / batsman['balls_faced'].to_f) *100).to_i %>
				<% else %>
				<%= 0 %>
				<% end%>
			</div>
		</div>

		<% end %>

		<!-- batsmen loop ends -->

	</div>

	<!--balls loop -->

	<!-- bowler -->
	<div class="cl-min-inf" ng-if="">
		
		<div class="cl-min-hdr-rw">
			<div class="cl-txt-50">
				Bowler
			</div>
			<div class="cl-txt-10">
				O
			</div>
			<div class="cl-txt-8">
				M
			</div>
			<div class="cl-txt-10">
				R
			</div>
			<div class="cl-txt-8">
				W
			</div>
			<div class="cl-txt-14">
				ECO
			</div>
		</div>
		
		<!-- bolwer loop -->
		<% for bowler in bowlers %>

		<div class="cl-min-itm-rw">
			<div class="cl-txt-50">
				<% player_name = getPlayerName(team, bowler['old_player_id'] ) %>
				<%= link_to player_name , {:controller => "playerstat", :action => "show", :pid => bowler['pid']  }  %>
			</div>
			<div class="cl-txt-10">
				<%= bowler['overs']%>
			</div>
			<div class="cl-txt-8">
				<%= bowler['maidens']%>
			</div>
			<div class="cl-txt-10" >
				<%= bowler['conceded']%>
			</div>
			<div class="cl-txt-8" >
				<%= bowler['wickets']%>
			</div>
			<div class="cl-txt-14">
				<% if bowler['overs'].to_i != 0%>
				<%= (bowler['conceded'].to_f / bowler['overs'].to_f ).round(1) %>
				<% else %>
				<%= 0 %>
				<% end%>
			</div>
		</div>

		<%end%>
	</div>

	<!-- bolwer loop ends -->
	<!-- end bowler -->

<% end %>
