<style>
	.columns {
        position: relative;
        padding-left: 0.46875rem;
        padding-right: 0.46875rem;
        float: left
    }
	
	.large-1{width:5%}
	.large-2{width:10%}
	.large-3{width:15%}
	.large-4{width:20%}
	.large-5{width:25%}
	.large-6{width:30%}
	.large-7{width:35%}
	.large-8{width:40%}
	.large-9{width:45%}
	.large-10{width:50%}
	.large-11{width:55%}
	.large-12{width:60%}
	.large-13{width:65%}
	.large-14{width:70%}
	.large-15{width:75%}
	.large-16{width:80%}
	.large-17{width:85%}
	.large-18{width:90%}
	.large-19{width:95%}
	.large-20{width:100%}
	
	.medium-1{width:5%}
	.medium-2{width:10%}
	.medium-3{width:15%}
	.medium-4{width:20%}
	.medium-5{width:25%}
	.medium-6{width:30%}
	.medium-7{width:35%}
	.medium-8{width:40%}
	.medium-9{width:45%}
	.medium-10{width:50%}
	.medium-11{width:55%}
	.medium-12{width:60%}
	.medium-13{width:65%}
	.medium-14{width:70%}
	.medium-15{width:75%}
	.medium-16{width:80%}
	.medium-17{width:85%}
	.medium-18{width:90%}
	.medium-19{width:95%}
	.medium-20{width:100%}
	
	.small-1{width:5%}
	.small-2{width:10%}
	.small-3{width:15%}
	.small-4{width:20%}
	.small-5{width:25%}
	.small-6{width:30%}
	.small-7{width:35%}
	.small-8{width:40%}
	.small-9{width:45%}
	.small-10{width:50%}
	.small-11{width:55%}
	.small-12{width:60%}
	.small-13{width:65%}
	.small-14{width:70%}
	.small-15{width:75%}
	.small-16{width:80%}
	.small-17{width:85%}
	.small-18{width:90%}
	.small-19{width:95%}
	.small-20{width:100%}
	
	@media only screen {

    .small-block-grid-2>li {
        width: 50%;
        list-style: none
    }
    .small-block-grid-2>li:nth-of-type(n) {
        clear: none
    }
    .small-block-grid-2>li:nth-of-type(2n+1) {
        clear: both
    }
}
@media only screen and (min-width: 768px) {
    .medium-block-grid-2>li {
        width: 50%;
        list-style: none
    }
    .medium-block-grid-2>li:nth-of-type(n) {
        clear: none
    }
    .medium-block-grid-2>li:nth-of-type(2n+1) {
        clear: both
    }
}
@media only screen and (min-width: 1024px) {
    .large-block-grid-2>li {
        width: 50%;
        list-style: none
    }
    .large-block-grid-2>li:nth-of-type(n) {
        clear: none
    }
    .large-block-grid-2>li:nth-of-type(2n+1) {
        clear: both
    }
    
.squads_main h1 {
    padding: 20px 30px 20px 0;
    font-size: 18px;
    border-bottom: 5px solid #e1e1e1;
    margin: 0 25px
}
.squads_main .bdr_left {
    border-left: 1px solid #e1e1e1;
    margin-left: -1px;
    border-right: 0px
}
.squads_main ul {
    margin-top: 30px
}
.squads_main ul li {
    border-right: 1px solid #e1e1e1;
    padding: 0px 15px 40px 15px;
    line-height: 16px
}
.squads_main ul li div {
    float: left !important
}
.squads_main ul li div h3 {
    color: #333333;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 15px
}
.squads_main ul li div h3 a {
    color: #333333
}
.squads_main ul li div h3 span {
    display: block;
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
    margin-top: 5px
}
.squads_main ul li div span {
    display: block;
    color: #333;
    font-size: 12px;
    margin: 15px 0
}
.squads_main ul li div span b {
    font-weight: normal;
}
}
	
/* */

@media only screen and (min-width: 768px) {
    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right
    }
}
    
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.squads_main .bdr_left {
    border-left: 1px solid #e1e1e1;
    margin-left: -1px;
    border-right: 0px
	}
	
	.grounds_main .bdr_left {
    border-left: 1px solid #e1e1e1;
    margin-left: -1px;
    padding-right: 4px;
    border-right: 0px
	}
		
}	

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.squads_main .bdr_left {
        border: none
    }
}
    
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.home.main-container .squads-section .title-header {
    padding-top: 13px;
    padding-bottom: 43px
}
.home.main-container .squads-section .title-header span {
    line-height: 31px;
    height: 20px
}
.home.main-container .squads-section .large-block-grid-2,
.home.main-container .squads-section .medium-block-grid-2 {
    margin: 30px 20px 30px 30px
}
.home.main-container .squads-section .large-block-grid-2 li,
.home.main-container .squads-section .medium-block-grid-2 li {
    padding-bottom: 0
}
.home.main-container .squads-section .large-block-grid-2 li a,
.home.main-container .squads-section .medium-block-grid-2 li a {
    color: #272a2f;
    font-size: 12px;
    font-family: bentonsansmedium;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0;
    margin-right: 10px
}
.home.main-container .squads-section .small-block-grid-2 li {
    padding-bottom: 0
}
.home.main-container .squads-section .small-block-grid-2 li a {
    color: #272a2f;
    font-size: 12px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0
}

.home.main-container .squads-section .medium-block-grid-2 {
        margin: 10px 20px
    }
}
</style>
<% data.teams.each do |team| %>

<div role="main" class="large-14 medium-20 columns home squads_main main-container">
		<h3><%= team.team_name %> <%= data.matchScore.type if data.matchScore.present? && data.matchScore.type.present? %> Squad / Players</h3>
		<div class="large-20 medium-20 small-20 columns">
			<ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1 ">
				<% players = team.player %>
				<% players.each do |player|%>
			<div id="player_item" class="col-sm-6">
				<li style="height: 194px;">
					
					<div class="large-7 medium-7 small-7 columns">
						<a href="/india-v-australia-2016-17/content/player/267192.html"><img src="<%= getPlayerUrl(player['object_id']) %>" width="108" height="130" ></a>
					</div>
					
					
					
					<div class="large-13 medium-13 small-13 columns">
						<h3>
						<a href="<%= getPlayerStatUrl(player['object_id']) %>">
						<%= player.known_as %>
						</a>
						
						</h3>
						
						<span><b>Age:</b><%= player.age_years %> years <%= player.age_days %> days</span>
						
						<span><b>Playing role:</b> <%= player.player_primary_role %></span>
						
						<span><b>Batting:</b> <%= player.batting_style_long %></span>
						
						<span><b>Bowling:</b> <%= player.bowling_style_long %></span>
							
					</div>
				</li> 
			</div>
			<% end %>

			</ul>
		</div>		
	</div>
	
<% end %>
<style>
	
	/*.columns {
        position: relative;
        padding-left: 0.46875rem;
        padding-right: 0.46875rem;
        float: left
    }
    
    .squads_main ul li {
    border-right: 1px solid #e1e1e1;
    padding: 0px 15px 40px 15px;
    line-height: 16px;
	
	}
	
	.squads_main ul li div span {
    display: block;
    color: #333;
    font-size: 12px;
    margin: 15px 0;
	}
	
	.squads_main ul li div h3 a {
    color: #333333;
	}
	
	.squads_main ul li div h3 {
    font-size: 18px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 700;
}*/

</style>
